# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Kafka server service

[Service]
Type=simple
Environment='KAFKA_HEAP_OPTS=-Xmx256M -Xms128M'
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties
Restart=always
StandardOutput=syslog
StandardError=syslog
User=root

[Install]
WantedBy=multi-user.target
