# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Dummy service for unit testing

[Service]
Type=simple
ExecStart=/home/$USER/build/python/bin/python3 /home/$USER/magma/orc8r/gateway/magmad/tests/dummy_service.py
ExecStop=
ExecReload=
StandardOutput=syslog
StandardError=syslog

[Install]
