# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Dummy service for unit testing

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/env python3 -m magma.magmad.tests.dummy_service
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dummy_service

[Install]
