# Local host to bind to.  Typically 0.0.0.0 for ipv4 and :: for ipv6.
# Defaults to 0.0.0.0
#HOST=::

# Local port to bind the webserver to
PORT=8080

# API hostname to connect to.
API_HOST=staging.magma.test

# String contents of certificate/private key to connect to the magma host
#API_CERT=
#API_PRIVATE_KEY=

# You can optionally read the cert and key from a file.
API_CERT_FILENAME=/path/to/api_operator_cert.pem
API_PRIVATE_KEY_FILENAME=/path/to/operator_pk.pem

# Your mapbox access token to access the map tiles.
# See https://www.mapbox.com/help/how-access-tokens-work/ for more details
MAPBOX_ACCESS_TOKEN=pk.abcdefghzijklmnopqrstuvwxyz

# Configuration for connecting to the MySQL database
MYSQL_DB=nms
MYSQL_HOST=192.168.99.100
MYSQL_PORT=3306
MYSQL_USER=nms
MYSQL_PASS=password
