Description=Rotate log files
Documentation=man:logrotate(8) man:logrotate.conf(5)

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate /etc/logrotate.conf
Nice=19
IOSchedulingClass=3
