configMaps:
  action_file_yml: |-
    ---
    actions:
      1:
        action: delete_indices
        description: "Clean up ES by deleting old indices"
        options:
          timeout_override:
          continue_if_exception: False
          disable_action: False
          ignore_empty_list: True
        filters:
        - filtertype: age
          source: name
          direction: older
          timestring: '%Y.%m.%d'
          unit: days
          unit_count: {{ elasticsearch_keep_days }}
          field:
          stats_result:
          epoch:
          exclude: False
  config_yml: |-
    ---
    client:
      hosts:
        - elasticsearch-master:9200
      port: 9200
