esJavaOpts: -Xmx4G -Xms4G
imageTag: {{ elasticsearch_image_tag }}
minimumMasterNodes: 1
nodeGroup: data
replicas: 1
resources:
  limits:
    cpu: {{ elasticsearch_data_cpu }}
    memory: {{ elasticsearch_data_memory }}
  requests:
    cpu: {{ elasticsearch_data_cpu }}
    memory: {{ elasticsearch_data_memory }}
roles:
  data: "true"
  ingest: "true"
  master: "false"
  ml: "false"
  remote_cluster_client: "false"
volumeClaimTemplate:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ elasticsearch_data_storage }}
  storageClassName: {{ storage_class }}
