esJavaOpts: -Xmx2G -Xms2G
imageTag: {{ elasticsearch_image_tag }}
minimumMasterNodes: 1
replicas: 1
resources:
  limits:
    cpu: {{ elasticsearch_master_cpu }}
    memory: {{ elasticsearch_master_memory }}
  requests:
    cpu: {{ elasticsearch_master_cpu }}
    memory: {{ elasticsearch_master_memory }}
roles:
  data: "false"
  ingest: "false"
  master: "true"
  ml: "false"
  remote_cluster_client: "false"
volumeClaimTemplate:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ elasticsearch_master_storage }}
  storageClassName: {{ storage_class }}
rbac:
  create: true
antiAffinity: "soft"
service:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: elasticsearch.{{ orc8r_domain }}
