---
- hosts: "{{ aminode }}"
  roles:
    - magma-agw-1.5
    - {role: clean-authorized-keys, tags: clearSSHKeys}
  vars:
    ansible_ssh_private_key_file: "{{ dirLocalInventory }}/{{ keyHost }}.pem"
  vars_files:
    - roles/vars/defaults.yaml
    - "{{ dirLocalInventory }}/secrets.yaml"
    - roles/vars/cluster.yaml
