*
!.cache/test_certs
!fb/config/

!feg/cloud/
!feg/gateway/configs/
!feg/gateway/deploy/roles/feg_dev/files
!feg/gateway/deploy/roles/feg_services/files
!feg/gateway/diameter/
!feg/gateway/deploy/envdir
!feg/gateway/docker/configs
!feg/gateway/mconfig/
!feg/gateway/object_store/
!feg/gateway/policydb/
!feg/gateway/registry/
!feg/gateway/scripts/
!feg/gateway/service_health/
!feg/gateway/services/
!feg/gateway/streamer/
!feg/gateway/third-party/
!feg/gateway/tools/
!feg/gateway/go.mod
!feg/gateway/go.sum
!feg/gateway/Makefile
!feg/protos/

!lte/cloud/
!lte/gateway/configs/
!lte/gateway/deploy/roles/magma/files/
!lte/gateway/python/
!lte/gateway/Makefile
!lte/protos/

!orc8r/cloud/configs/
!orc8r/cloud/go/
!orc8r/cloud/deploy/roles/proxy/files
!orc8r/cloud/scripts/
!orc8r/cloud/Makefile
!orc8r/gateway/configs/
!orc8r/gateway/python/
!orc8r/protos/
!orc8r/tools/ansible/roles/gateway_services/files
!orc8r/tools/ansible/roles/pkgrepo/files

!protos/
