.circleci/ @tmdzk
circleci/ @tmdzk @mattymo @119Vik

ci-scripts/ @rdefosse @tmdzk @mattymo @119Vik

*/cloud/ @mpgermano @hcgatewood
.golangci.yml @mpgermano @hcgatewood

orc8r/ @mpgermano @hcgatewood @emakeev
orc8r/tools/packer/ @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal/ @tmdzk @mattymo @119Vik
orc8r/cloud/helm/orc8r/charts/certs/ @ShubhamTatvamasi

feg/ @themarwhal @mpgermano @uri200 @emakeev
cwf/ @themarwhal @mpgermano @uri200 @emakeev
cwf/gateway/Vagrantfile @mattymo @119Vik @tmdzk


openwrt/ @emakeev @uri200

# More specific mappings for lte/gateway will override this top-level one
lte/gateway @ardzoht @pshelar
lte/gateway/c/session_manager @themarwhal @uri200
lte/gateway/c/oai @ssanadhya @ulaskozat @lionelgo @ardzoht
lte/gateway/c/sctpd @ssanadhya @ulaskozat
lte/gateway/c/connection_tracker @koolzz
lte/gateway/docker @rdefosse @tmdzk
lte/gateway/release @tmdzk
lte/gateway/python/magma/pipelined @koolzz @pshelar
lte/gateway/python/integ_tests @ssanadhya @ulaskozat
lte/gateway/Vagrantfile @mattymo @119Vik @tmdzk

**/*.pb.go @magma/entire-org
**/*_swaggergen.go @magma/entire-org

# xwf Magma integrations
xwf/ @AyliD @aharonnovo @r-i-g
feg/radius @AyliD @aharonnovo @r-i-g @themarwhal @mpgermano @uri200 @emakeev

nms/ @karthiksubraveti @andreilee @Scott8440

CODEOWNERS @amarpad @electronjoe
