.circleci/ @rdefosse @119Vik @tmdzk
circleci/ @rdefosse @tmdzk @mattymo @119Vik

ci-scripts/ @rdefosse @tmdzk @mattymo @119Vik

*/cloud/ @magma/approvers-orc8r
.golangci.yml @magma/approvers-orc8r

orc8r/ @magma/approvers-orc8r
orc8r/tools/packer/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal/ @rdefosse @tmdzk @mattymo @119Vik
orc8r/cloud/deploy/bare-metal-ansible/ @rdefosse @mattymo @119Vik

orc8r/gateway/c/ @magma/approvers-agw-c

feg/ @magma/approvers-feg

cwf/ @magma/approvers-cwf
cwf/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

openwrt/ @magma/approvers-openwrt

# More specific mappings for lte/gateway will override this top-level one
lte/gateway @magma/approvers-agw
lte/gateway/python @magma/approvers-agw-python
lte/gateway/c @magma/approvers-agw-c

lte/gateway/c/session_manager @magma/approvers-agw-sessiond
lte/gateway/c/oai @magma/approvers-agw-mme
lte/gateway/c/sctpd @magma/approvers-agw-mme
lte/gateway/c/connection_tracker @koolzz
lte/gateway/python/magma/pipelined @magma/approvers-agw-pipelined
lte/gateway/python/integ_tests @magma/approvers-agw-integtests

lte/gateway/docker @rdefosse @119Vik @tmdzk
lte/gateway/release @rdefosse @119Vik @tmdzk
lte/gateway/Vagrantfile @rdefosse @mattymo @119Vik @tmdzk

**/*.pb.go @magma/repo-magma-maintain
**/*_swaggergen.go @magma/repo-magma-maintain

# xwf Magma integrations
xwf/ @magma/approvers-xwf
feg/radius @magma/approvers-xwf @magma/approvers-cwf

nms/ @magma/approvers-nms

docs/readmes/proposals @electronjoe

CODEOWNERS @amarpad @electronjoe
