[xwf-s3]

name=Express Wifi S3 Repo
baseurl=https://{{partner + ':' +  AAA_ACCESS_TOKEN|replace('\n', '')|trim|urlencode}}@ap-south-1-prod.lambda-s3-files.xwf.internet.org/xwf-yum-ap-south-1/centos/7.x/x86_64
enabled=1
fastestmirror_enabled=0
gpgcheck=0
