apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${pvcname}
spec:
  accessModes:
  - ${accessmode}
  resources:
    requests:
      storage: ${pvsize}
  storageClassName: ${storageclass}
  volumeMode: Filesystem
