image:
  pullPolicy: IfNotPresent
  repository: {{ nfs_provisioner_image_repo }}
  tag: {{ nfs_provisioner_image_tag }}
nodeSelector:
  kubernetes.io/hostname: {{ nfs_host }}
persistence:
  enabled: true
  size: {{ nfs_pv_storage }}
  storageClass: nfs-provisioner
replicaCount: 1
resources:
  requests:
    cpu: {{ nfs_cpu }}
    memory: {{ nfs_memory }}
storageClass:
  create: true
  defaultClass: true
  mountOptions:
  - noatime
  name: {{ storage_class }}
  provisionerName: {{ storage_class }}
