---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-nfs-server-provisioner-0
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: {{ nfs_pv_storage }}
  persistentVolumeReclaimPolicy: Delete
  storageClassName: nfs-provisioner
  volumeMode: Filesystem
  local:
    path: "{{ nfs_pv_path }}"
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ nfs_host }}
