!.eslintrc.js
**/*.min.js

**/node_modules/**

dist/**/*.js
flow-typed/npm/**/*.js
**/thrift/gen-nodejs/*.js
config/webpack.*.js
tgnms/**/*.js
fbcnms-packages/fbcnms-magma-api/__generated__/*.js
fbcnms-projects/tgnms/shared/types/*.js
fbcnms-projects/magmalte/app/common/__generated__/*.js
fbcnms-projects/inventory/**/__generated__/*.js
fbcnms-projects/hub/app/components/workflow/**/*.js
fbcnms-packages/fbcnms-alarms/components/prometheus/__generated__/*.js
