!.eslintrc.js
**/*.min.js

**/node_modules/**

dist/**/*.js
**/thrift/gen-nodejs/*.js
config/webpack.*.js
tgnms/**/*.js
fbcnms-packages/fbcnms-magma-api/__generated__/*.js
fbcnms-projects/tgnms/shared/types/*.js
fbcnms-projects/magmalte/app/common/__generated__/*.js
fbcnms-packages/fbcnms-alarms/components/prometheus/__generated__/*.js

flow-typed/npm/@babel/register_v7.x.x.js
flow-typed/npm/@material-ui/core_v1.x.x.js
flow-typed/npm/@material-ui/lab/*.js
flow-typed/npm/jest_v24.x.x.js
flow-typed/npm/sequelize_v4.x.x.js
flow-typed/npm/winston_v3.x.x.js
flow-typed/npm/winston_v3.x.x.js
flow-typed/npm/morgan_v1.x.x.js
flow-typed/npm/express_v4.x.x.js
flow-typed/npm/lodash_v4.x.x.js
flow-typed/npm/history_v4.x.x.js
flow-typed/npm/prettier_v1.x.x.js