# Copyright 2022 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Deletes Spirent Test Scripts from the Test Automation Server
Wants=delete_spirent_scripts.timer
[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/Magma_Automations/scripts
ExecStart=/usr/bin/python3 /home/ubuntu/Magma_Automations/scripts/delete_tests.py


[Install]
WantedBy=multi-user.target
