astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
gql==0.3.0
graphql-core==2.3.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
promise==2.3
pycodestyle==2.5.0
pylint==2.4.4
requests==2.22.0
Rx==1.6.1
six==1.14.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
