{{- if and .Values.dp.create .Values.dp.radio_controller.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "domain-proxy.radio_controller.fullname" . }}
  labels:
    {{- include "domain-proxy.radio_controller.labels" . | nindent 4 }}
spec:
  ports:
    - port: 50053
      targetPort: 50053
      protocol: TCP
      name: grpc
  selector:
    {{- include "domain-proxy.radio_controller.matchLabels" . | nindent 4 }}
{{- end }}
