// Copyright 2004-present Facebook. All Rights Reserved.
doctype html
html
  head
    title Connectivity Platform
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description", content="Connectivity Platform: NMS")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/png" href="/inventory/static/images/favicon.png")
    script(src=staticDist("vendor.js", "inventory"))
    script.
      var CONFIG = !{configJson};
  body(style={margin: '0px'})
    div(id="root")
    script(src=staticDist("magma.js", "inventory"))
