# Default values for metrics.
imagePullSecrets: []

metrics:
  # Service configuration.
  service:
    annotations: {}
    labels: {}
    type: ClusterIP
    ports:
      - name: prometheus
        port: 9090
        targetPort: 9090
      - name: alertmanager
        port: 9093
        targetPort: 9093
      - name: prom-configmanager
        port: 9100
        targetPort: 9100
      - name: alertmanager-config
        port: 9101
        targetPort: 9101

  environment:
    promAlertconfigPort: "9100"
    rulesDir: "/etc/configs/alert_rules"
    prometheusURL: "localhost:9090"
    alertmanagerConfigPort: "9101"
    alertmanagerConfPath: "/etc/configs/alertmanager.yml"
    alertmanagerURL: "localhost:9093"

  volumes:
    # Default volume configurations for metrics data
    prometheusData:
      volumeSpec:
        emptyDir: {}
    prometheusConfig:
      volumeSpec:
        hostPath:
          path: /configs/prometheus

  # Volume Spec for persistentVolumeClaim. Will be used if
  # metrics.usePersistentVolumes is set
  usePersistentVolumes: 0
  persistentVolumes:
    prometheusConfig:
      storageSize:
      volumeSpec:
        persistentVolumeClaim:
          claimName: prometheus-config-claim
      storageTypeSpec: {}
        ### Example for EBS storage
        # awsElasticBlockStore:
        #   volumeID:
        #   fsType: ext4
    prometheusData:
      storageSize:
      volumeSpec:
        persistentVolumeClaim:
          claimName: prometheus-data-claim
      storageTypeSpec: {}

  prometheusImage:
    repository: docker.io/prom/prometheus
    tag: latest
    pullPolicy: IfNotPresent

  alertmanagerImage:
    repository: docker.io/prom/alertmanager
    tag: latest
    pullPolicy: IfNotPresent

  configImage:
    repository:
    tag: latest
    pullPolicy: IfNotPresent

  # Number of metrics replicas desired
  replicas: 1

  # Resource limits & requests
  resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

  # Define which Nodes the Pods are scheduled on.
  # ref: https://kubernetes.io/docs/user-guide/node-selection/
  nodeSelector: {}

  # Tolerations for use with node taints
  # ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []

  # Assign metrics to run on specific nodes
  # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  affinity: {}

graphite:
  # Service configuration.
  service:
    annotations: {}
    type: ClusterIP
    ports:
      - name: graphite-web
        port: 80
        targetPort: 80
      - name: carbon-cache
        port: 2003
        targetPort: 2003

  volumes:
    # Default volume configurations for graphite data
    graphiteData:
      volumeSpec:
        emptyDir: {}

  usePersistentVolumes: 0
  persistentVolumes:
    graphiteData:
      labels: {}
      storageSize:
      volumeSpec:
        persistentVolumeClaim:
          claimName: graphite-data-claim
      storageTypeSpec: {}

  image:
    repository: docker.io/graphiteapp/graphite-statsd
    tag: latest
    pullPolicy: IfNotPresent

  # Number of metrics replicas desired
  replicas: 1

  # Resource limits & requests
  resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

  # Define which Nodes the Pods are scheduled on.
  # ref: https://kubernetes.io/docs/user-guide/node-selection/
  nodeSelector: {}

  # Tolerations for use with node taints
  # ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []

  # Assign graphite to run on specific nodes
  # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  affinity: {}

prometheusCache:
  # Service configuration.
  service:
    annotations: {}
    labels: {}
    type: ClusterIP
    ports:
      - name: prometheus-cache
        port: 9091
        targetPort: 9091

  image:
    repository:
    tag: latest
    pullPolicy: IfNotPresent

  # Number of metrics replicas desired
  replicas: 1

  # Resource limits & requests
  resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

  # Define which Nodes the Pods are scheduled on.
  # ref: https://kubernetes.io/docs/user-guide/node-selection/
  nodeSelector: {}

  # Tolerations for use with node taints
  # ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []

  # Assign graphite to run on specific nodes
  # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  affinity: {}
