# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[defaults]
# In gather_facts when ansible-playbook starts, ignore hardware facts,
# facts from facter and ohai, so gather_facts finish faster
# See https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg
gather_subset = !hardware,!facter,!ohai
callback_whitelist = profile_tasks
roles_path = ../../orc8r/tools/ansible/roles

[connection]
pipelining=True
