---
- name: Set up the proxy production instance
  hosts: localhost

  vars:
    controller_hostname: "{{ lookup('env','CONTROLLER_HOSTNAME') }}"
    api_hostname: "{{ lookup('env','API_HOSTNAME') }}"
    proxy_backends: "{{ lookup('env','PROXY_BACKENDS') }}"
    feg_backends: "{{ lookup('env','FEG_BACKENDS') }}"
    restart_controller: true

    preburn: true
    full_provision: true

  roles:
    - { role: pkgrepo, vars: { distribution: "xenial" } }
    - { role: proxy }
    - { role: disk_metrics }
