# Copyright (c) 2016-present, Facebook, Inc.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.
#

# Listening interfaces
frontend=0.0.0.0,9443
frontend=::,9443

# Disable OCSP for the controller for now
no-ocsp=yes

# Enable access gateway cert verification
verify-client=yes
verify-client-cacert=/var/opt/magma/certs/certifier.pem

# Header injection for client certs
mruby-file=/etc/nghttpx/magma_headers.rb

{% for backend in proxy_backends.split(',') -%}
# Send All requests to obsidian
backend={{ backend }},{{obsidian_port}};;no-tls;dns
{% endfor -%}

# Proxy configs
{% include './nghttpx_common.conf.j2' %}
