---
# List of services for magmad to control
magma_services:
  - control_proxy
  - metricsd
  - hello

# List of services that don't provide service303 interface
non_service303_services:
  - control_proxy

# Init system to use to control services
# Supported systems include: [systemd, runit]
init_system: systemd

# bootstrap_manager config
bootstrap_config:
  # location of the challenge key
  challenge_key: /var/opt/magma/certs/gw_challenge.key

# Flags indicating the magmad features to be enabled
enable_config_streamer: True
enable_upgrade_manager: False
enable_network_monitor: False
enable_systemd_tailer: False
enable_sync_rpc: False

systemd_tailer_poll_interval: 30 # seconds

# Modules containing code generated for mconfig protobufs
mconfig_modules:
  - orc8r.protos.mconfig.mconfigs_pb2
