---

- name: run magma deploy
  command: ansible-playbook -e magma_pkgrepo_host="{{packageRepoHost}}" -e "magma_pkgrepo_dist=focal-{{ buildAgwPackage }}"  -i {{ usrHome }}/inventory {{ deployPath }}/magma_deploy.yml
