# Copyright (c) 2016-present, Facebook, Inc.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.

[Unit]
Description=Magma %i service using Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory={{ working_dir }}
Environment=DOCKER_REGISTRY={{ registry_url }}
Environment=IMAGE_VERSION={{ image_version }}

{{ systemd_extra }}

ExecStartPre=/usr/local/bin/docker-compose rm -fsv
ExecStart=/usr/local/bin/docker-compose {{ systemd_start_args_pre }} up {{ systemd_start_args_post }}
ExecStop=/usr/local/bin/docker-compose down {{ systemd_stop_args }}
Restart=always
# Use docker logging framework for the container logs
StandardOutput={{ systemd_stdout }}
StandardError={{ systemd_stderr }}
SyslogIdentifier=%i

[Install]
WantedBy=multi-user.target
