{#
Copyright (c) Facebook, Inc. and its affiliates.
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree.
#}

[Unit]
Description=Magma local dynamoDB instance

[Service]
Type=simple
ExecStart=/usr/bin/java -Djava.library.path=/home/{{ user }}/dynamodb/DynamoDBLocal_lib -jar /home/{{ user }}/dynamodb/DynamoDBLocal.jar -dbPath /home/{{ user }}/dynamodb -sharedDb
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dynamodb
Restart=on-failure
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
