# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[Unit]
Description=Magma monitord service
PartOf=magma@pipelined.service
Before=magma@pipelined.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/dpid
ExecStopPost=/usr/bin/env python3 /usr/local/bin/service_util.py dpid
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dpid
User=root
Restart=always
RestartSec=5
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
