# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Magma OAI MME service
PartOf=magma@mobilityd.service
After=magma@mobilityd.service
PartOf=magma@pipelined.service
After=magma@pipelined.service
PartOf=magma@sessiond.service
After=magma@sessiond.service
Requires=sctpd.service
After=sctpd.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/mme -c /var/opt/magma/tmp/mme.conf -s /var/opt/magma/tmp/spgw.conf
MemoryAccounting=yes
MemoryLimit=512M
ExecStartPre=/usr/bin/env python3 /usr/local/bin/generate_oai_config.py
ExecStopPost=/usr/bin/env python3 /usr/local/bin/service_util.py mme
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mme
User=root
Restart=always
RestartSec=5
LimitCORE=infinity
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
