# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[Unit]
Description=Magma envoy service
PartOf=magma@pipelined.service
After=magma@envoy_controller.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
# Add delay to let envoy-controller init
ExecStartPre=/bin/sleep 40
ExecStart=/sbin/ip netns exec envoy_ns1 /usr/bin/envoy --bootstrap-version 2 -c /var/opt/magma/envoy.yaml --log-path /var/log/envoy.log
MemoryAccounting=yes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=envoy
User=root
Restart=always
RestartSec=5
LimitCORE=infinity
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
