# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[Unit]
Description=Magma pipelined service
PartOf=magma@mme.service
Before=magma@mme.service
PartOf=magma@mobilityd.service
After=magma@mobilityd.service
After=openvswitch-switch.service
Wants=openvswitch-switch.service

[Service]
Type=simple
PermissionsStartOnly=true
LimitNOFILE=65536
LimitNPROC=65536
LimitSIGPENDING=65536
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/ovs-vsctl set bridge gtp_br0 protocols=OpenFlow10,OpenFlow13,OpenFlow14 other-config:disable-in-band=true
ExecStartPre=/usr/bin/ovs-vsctl set-controller gtp_br0 tcp:127.0.0.1:6633 tcp:127.0.0.1:6654
ExecStartPre=/usr/bin/ovs-vsctl set-fail-mode gtp_br0 secure
ExecStartPre=/bin/bash -c 'for id in `sudo /usr/bin/ovsdb-client dump Controller _uuid|tail -n +4` ; do  sudo /usr/bin/ovs-vsctl set Controller $id inactivity_probe=300  ; done'
ExecStartPre=/usr/bin/ovs-vsctl set-manager ptcp:6640
ExecStart=/usr/bin/env python3 -m magma.pipelined.main
ExecStopPost=/usr/bin/env python3 /usr/local/bin/service_util.py pipelined
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pipelined
User=root
Restart=always
RestartSec=5
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
