# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Magma %i service

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/env python3 -m magma.%i.main
ExecStopPost=/usr/bin/env python3 /usr/local/bin/service_util.py %i
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%i
User=root
Restart=always
RestartSec=5s
StartLimitInterval=0
KillMode=process
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
