version: "3.7"

# Standard logging for each service
x-logging: &logging_anchor
  driver: "json-file"
  options:
    max-size: "10mb"
    max-file: "10"

# Standard volumes mounted
x-standard-volumes: &volumes_anchor
  - ${ROOTCA_PATH}:/var/opt/magma/certs/rootCA.pem
  - ${CERTS_VOLUME}:/var/opt/magma/certs
  - ${CONFIGS_OVERRIDE_VOLUME}:/var/opt/magma/configs
  - ${CONFIGS_DEFAULT_VOLUME}:/etc/magma
  - ${CONFIGS_TEMPLATES_PATH}:/etc/magma/templates
  - ${CONTROL_PROXY_PATH}:/etc/magma/control_proxy.yml
  - /etc/snowflake:/etc/snowflake

x-generic-service: &service
  volumes: *volumes_anchor
  logging: *logging_anchor
  restart: always
  network_mode: host

# Generic python anchor to avoid repetition for lte python services
x-lte-pyservice: &ltepyservice
  <<: *service
  image: {{ docker_registry }}/pipelined:{{ env }}

services:

  pipelined:
    <<: *ltepyservice
    container_name: pipelined
    privileged: true
    volumes:
      - ${ROOTCA_PATH}:/var/opt/magma/certs/rootCA.pem
      - ${CERTS_VOLUME}:/var/opt/magma/certs
      - ${CONFIGS_OVERRIDE_VOLUME}:/var/opt/magma/configs
      - ${CONFIGS_DEFAULT_VOLUME}:/etc/magma
      - ${CONFIGS_TEMPLATES_PATH}:/etc/magma/templates
      - ${CONTROL_PROXY_PATH}:/etc/magma/control_proxy.yml
      - /etc/snowflake:/etc/snowflake
      - /var/run/openvswitch:/var/run/openvswitch
    command: >
      sh -c "set bridge cwag_br0 protocols=protocols=OpenFlow10,OpenFlow13,OpenFlow14 other-config:disable-in-band=true &&
        /usr/bin/ovs-vsctl set-controller cwag_br0 tcp:127.0.0.1:6633 &&
        /usr/bin/ovs-vsctl set-fail-mode cwag_br0 secure &&
        python3 -m magma.pipelined.main"
  radius:
    image: {{ docker_registry }}/goradius:{{ env }}
    container_name: radius
    privileged: true
    restart: always
    environment:
      - ODS_ACCESS_TOKEN={{ODS_ACCESS_TOKEN}}
      - SCUBA_ACCESS_TOKEN={{SCUBA_ACCESS_TOKEN}}
      - AAA_ENDPOINT=https://graph.expresswifi.com/radius/authorization
      - AAA_ACCESS_TOKEN={{AAA_ACCESS_TOKEN}}
      - RADIUS_SECRET=123456
      - TEMPLATE_ENV=radius.ofpanalytics.config.json.template
    network_mode: host
    command: >
      /bin/sh -c "./docker-entrypoint.sh"  
