:root{
  --ifm-color-primary-lightest: #7003D5;
  --ifm-color-primary-lighter: #6302BD;
  --ifm-color-primary-light: #5F02B4;
  --ifm-color-primary: #5602a4;
  --ifm-color-primary-dark: #4D0294;
  --ifm-color-primary-darker: #49028B;
  --ifm-color-primary-darkest: #3C0173;
}

