[Unit]
Description=Magma alertmanager service

[Service]
Type=simple
ExecStart={{ alertmanager_subdir }}/alertmanager --config.file={{ alertmanager_subdir }}/alertmanager.yml --web.listen-address=":{{ alertmanager_port }}" --storage.path="{{ alertmanager_db_path }}"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alertmanager
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target