[Unit]
Description=Magma alertconfig server service

[Service]
Type=simple
ExecStart="{{ alertconfig_binary_dir }}/alerting" -port={{ alertconfig_server_port }} -rules-dir={{ alert_rules_dir }} -alertmanager-conf={{ alertmanager_subdir }}/alertmanager.yml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alertconfig server
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target