[Unit]
Description=Prometheus Cache Service

[Service]
Type=simple
ExecStart="{{ prometheus_cache_binary_dir }}/prometheus-cache" -port={{ prometheus_cache_port }} -queue-capacity={{ prometheus_cache_queue_capacity }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=prometheus cache
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
