# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Magma pushgateway service

[Service]
Type=simple
ExecStart={{ pushgateway_subdir }}/pushgateway --web.listen-address=":{{ pushgateway_port}}"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pushgateway
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
