coverage~=5.5
mock==4.0.3
parameterized==0.8.1
pytest==6.2.3
pytest-instafail==0.4.2
psycopg2-binary==2.8.6
grpcio==1.37.1
grpcio-tools==1.37.1
psycopg2-binary==2.8.6
sqlalchemy==1.4.15
requests==2.25.1
retrying==1.3.3
prometheus_client==0.3.1