# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[Unit]
Description=Magma s6a_proxy cloud service

[Service]
Type=simple
ExecStart=/usr/bin/envdir /var/opt/magma/envdir /var/opt/magma/bin/s6a_proxy -logtostderr=true -v=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=s6a_proxy
User=root
Restart=always
RestartSec=1s
StartLimitInterval=0
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
