{#
Copyright (c) Facebook, Inc. and its affiliates.
All rights reserved.

This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree.
#}

auto ens4
iface ens4 inet static
	address {{ server_ip }}
	netmask 255.255.240.0
	broadcast {{ bcast_ip }}

up ip route add default via {{ gateway_ip }} dev ens4 table ens4_rt
up ip rule add from {{ server_ip }}/32 lookup ens4_rt prio 1000
