# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[Unit]
Description=Devmand
After=magmad.service

[Service]
EnvironmentFile=/etc/magma/env
WorkingDirectory=/usr/bin
ExecStart=/bin/devmand --logtostderr=1 --device_configuration_file=${DEVICE_CONFIG_FILE}
KillMode=mixed
Restart=always
Delegate=yes

[Install]
WantedBy=multi-user.target
