# Copyright (c) 2016-present, Facebook, Inc.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.
#
[Unit]
Description=Magmad

[Service]
WorkingDirectory=/usr/bin
ExecStartPre=/bin/magma_system_prepare
ExecStart=/usr/bin/python3 -m magma.magmad.main
KillMode=mixed
Restart=always
Delegate=yes

[Install]
WantedBy=multi-user.target
