# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Magma metricsd cloud service

[Service]
Type=simple
ExecStart=/usr/bin/envdir /var/opt/magma/envdir /var/opt/magma/bin/metricsd -logtostderr=true -profile=kafka -v=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metricsd
Restart=always
RestartSec=1s
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target