# Copyright (c) Facebook, Inc. and its affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
[Unit]
Description=Apache Kafka Connect
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/kafka/bin/connect-distributed.sh /opt/kafka/config/kafka_connect.properties
Restart=on-failure

[Install]
WantedBy=default.target
