cloud_address: "{{ cloudController }}"
cloud_port: 443
bootstrap_address: "{{ bootstrapperController }}"
bootstrap_port: 443
fluentd_address: "{{ fluentdController }}"
fluentd_port: 24224

rootca_cert: "{{ agwCertsPath }}/rootCA.pem"
