#
# Copyright 2020 The Magma Authors.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

[Unit]
Description=Service which runs Node Exporter for Prometheus scraping

[Service]
User=root
Group=root
ExecStart=/usr/bin/node_exporter_current			\
	--web.listen-address={{ node_exporter_listen_address }} \
	--log.level=info

[Install]
WantedBy=multi-user.target
