---
name: "Build Docker image for DevContainer"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
    paths:
      - .devcontainer/Dockerfile
      - .github/workflows/docker-builder-devcontainer.yml
      - .github/workflows/composite/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - .devcontainer/Dockerfile
      - .github/workflows/docker-builder-devcontainer.yml
      - .github/workflows/composite/**
  schedule:
    - cron: '0 0,6,12,18 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_STREAM: ${{ github.repository }}/devcontainer
  IMAGE_TAGS: type=sha
  DOCKERFILE: .devcontainer/Dockerfile

jobs:
  build_dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/composite/docker-builder
        with:
          REGISTRY: ${{ env.REGISTRY }}
          IMAGE_STREAM: ${{ env.IMAGE_STREAM }}
          IMAGE_TAGS: ${{ env.IMAGE_TAGS }}
          DOCKERFILE: ${{ env.DOCKERFILE }}
          GITHUB_TOKEN: $${{ secrets.GITHUB_TOKEN }}
