---
name: "Build Docker image for Python Precommit"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
    paths:
      - lte/gateway/docker/python-precommit/Dockerfile
      - .github/workflows/docker-builder-python-precommit.yml
      - .github/workflows/composite/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - lte/gateway/docker/python-precommit/Dockerfile
      - .github/workflows/docker-builder-python-precommit.yml
      - .github/workflows/composite/**
  schedule:
    - cron: '0 0,6,12,18 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_STREAM: ${{ github.repository }}/python-precommit
  DOCKERFILE: lte/gateway/docker/python-precommit/Dockerfile

jobs:
  build_dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5 # v2
      - uses: ./.github/workflows/composite/docker-builder
        with:
          REGISTRY: ${{ env.REGISTRY }}
          IMAGE_STREAM: ${{ env.IMAGE_STREAM }}
          IMAGE_TAGS: ${{ env.IMAGE_TAGS }}
          DOCKERFILE: ${{ env.DOCKERFILE }}
