---
name: docs-workflow

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: [opened, reopened, synchronize]

jobs:
  path_filter:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          # Only run the main job for changes including the following paths
          paths: '["docs/**"]'
  # Fail if Markdown doesn't pass linter
  markdown-lint:
    needs: path_filter
    if: ${{ needs.path_filter.outputs.should_skip != 'true' }}
    name: markdown lint job
    runs-on: ubuntu-latest
    env:
      MAGMA_ROOT: "${{ github.workspace }}"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Run docs precommit
        run: |
            cd ${MAGMA_ROOT}/docs
            make precommit
