---

name: "Check dependencies of helm charts"

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - v1.*
  pull_request:
    branches:
      - master
      - v1.*
    types:
      - opened
      - reopened
      - synchronize  # yamllint disable-line rule:truthy

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  check_helm_chart_dependencies:
    env:
      MAGMA_ROOT: "${{ github.workspace }}"
    runs-on: ubuntu-latest
    name: Check dependency of helm chart ${{ matrix.charts[0] }}
    steps:
      - uses: actions/checkout@v2
      - name: Check Orc8r
        run: |
          echo "DIGEST=$(cat $MAGMA_ROOT/orc8r/cloud/helm/orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          helm dependency update "$MAGMA_ROOT/orc8r/cloud/helm/orc8r/"
          echo "NEW_DIGEST=$(cat $MAGMA_ROOT/orc8r/cloud/helm/orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          if [ "$NEW_DIGEST" != "$NEW_DIGEST" ]; then
            exit 1
          fi
      - name: Check cwf-orc8r
        if: always()
        run: |
          echo "DIGEST=$(cat $MAGMA_ROOT/cwf/cloud/helm/cwf-orc8r//Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          helm dependency update "$MAGMA_ROOT/cwf/cloud/helm/cwf-orc8r/"
          echo "NEW_DIGEST=$(cat $MAGMA_ROOT/cwf/cloud/helm/cwf-orc8r//Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          if [ "$NEW_DIGEST" != "$NEW_DIGEST" ]; then
            exit 1
          fi
      - name: Check lte-orc8r
        if: always()
        run: |
          echo "DIGEST=$(cat $MAGMA_ROOT/lte/cloud/helm/lte-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          helm dependency update "$MAGMA_ROOT/lte/cloud/helm/lte-orc8r/"
          echo "NEW_DIGEST=$(cat $MAGMA_ROOT/lte/cloud/helm/lte-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          if [ "$NEW_DIGEST" != "$NEW_DIGEST" ]; then
            exit 1
          fi
      - name: Check feg-orc8r
        if: always()
        run: |
          echo "DIGEST=$(cat $MAGMA_ROOT/feg/cloud/helm/feg-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          helm dependency update "$MAGMA_ROOT/feg/cloud/helm/feg-orc8r/"
          echo "NEW_DIGEST=$(cat $MAGMA_ROOT/feg/cloud/helm/feg-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          if [ "$NEW_DIGEST" != "$NEW_DIGEST" ]; then
            exit 1
          fi
      - name: Check fbinternal-orc8r
        if: always()
        run: |
          echo "DIGEST=$(cat $MAGMA_ROOT/fbinternal/cloud/helm/fbinternal-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          helm dependency update "$MAGMA_ROOT/fbinternal/cloud/helm/fbinternal-orc8r/"
          echo "NEW_DIGEST=$(cat $MAGMA_ROOT/fbinternal/cloud/helm/fbinternal-orc8r/Chart.lock | grep digest | cut -d ":" -f 2-3 | xargs)" >> $GITHUB_ENV
          if [ "$NEW_DIGEST" != "$NEW_DIGEST" ]; then
            exit 1
          fi
      - name: Extract commit title
        id: commit
        if: failure() && github.event_name == 'push'
        run: |
          str="$(jq '.head_commit.message' $GITHUB_EVENT_PATH)"    # get the head_commit message
          echo ::set-output name=title::${str%%\\n*} | tr -d '"'
      - name: Notify failure to slack
        if: failure() && github.event_name == 'push'
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_CI }}
          SLACK_TITLE: "check_helm_chart_dependencies tests failed"
          SLACK_MESSAGE: "${{ steps.commit.outputs.title}}"
          SLACK_USERNAME: "Feg workflow"
          SLACK_ICON_EMOJI: ":boom:"
          SLACK_COLOR: "#FF0000"
          SLACK_FOOTER: ' '
