# Copyright 2022 The Magma Authors.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: reviewdog-workflow
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number}}
  cancel-in-progress: true
# Applies on all review jobs below
# See Reviewdog doc provided at https://github.com/reviewdog/reviewdog
# github-pr-check: Adds lint as annotations in the PR that can be toggled by pressing 'a'
# github-pr-review: Adds lint as GitHub comments
jobs:
  files_changed:
    runs-on: ubuntu-latest
    outputs:
      changed_cpp: ${{ steps.changes.outputs.cpp }}
      changed_go: ${{ steps.changes.outputs.go }}
      changed_javascript: ${{ steps.changes.outputs.javascript }}
      changed_python: ${{ steps.changes.outputs.python }}
      changed_terraform: ${{ steps.changes.outputs.terraform }}
    steps:
      # Need to get git on push event
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        if: github.event_name == 'push'
      - uses: dorny/paths-filter@b2feaf19c27470162a626bd6fa8438ae5b263721 # pin@v2
        id: changes
        with:
          filters: |
            cpp:
              - ["lte/gateway/c/**", "orc8r/gateway/c/**"]
            go:
              - ["src/go/**"]
            javascript:
              - ["nms/**", "**/*.js"]
            python:
              - ["lte/gateway/python/**", "orc8r/gateway/python/**"]
            terraform:
              - ["**/*.tf"]

  cpplint:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_cpp == 'true' }}
    ##
    #  Cpplint aims to lint to the Google Style guide. For detailed
    #  rationale on each linting rule, see
    #  https://google.github.io/styleguide/cppguide.html
    ##
    #  To suppress false-positive errors of a certain category, add a
    #  'NOLINT(category)' comment to the line.  NOLINT or NOLINT(*)
    #  suppresses errors of all categories on that line.
    ##
    #  For details on cpplint optinos see the detailed comments in
    #  https://github.com/google/styleguide/blob/gh-pages/cpplint/cpplint.py
    ##
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
        name: Install CPP Lint and ReviewDog
      - run: |
          wget -O - -q https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh \
          | sh -s -- -b .
          pip install cpplint
      - name: Run CPP Lint and push Annotations
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cpplint --recursive \
            --filter=-build/include_subdir,-build/c++11,-build/include_what_you_use \
            --linelength=120 ${{ github.workspace }} 2>&1 \
            | ./reviewdog -efm="%f:%l: %m" -name="cpplint" -reporter="github-pr-review" -level="warning"

  golangci-lint:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_go == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@1530051a4d9af7e1c94afb2ea38fe7ba13e180ee # pin@v2
        with:
          golangci_lint_flags: '--config=../../.golangci.yml'
          reporter: github-pr-review
          workdir: src/go/

  hadolint:
    name: dockerfile-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: hadolint
        uses: reviewdog/action-hadolint@55be5d2c4b0b80d439247b128a9ded3747f92a29 # pin@v1
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          # Ignore DL3005-"Do not use apt-get upgrade or dist-upgrade"
          hadolint_ignore: DL3005

  eslint:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_javascript == 'true' }}
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: install dependencies
        run: yarn install
        working-directory: 'nms/'
      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          workdir: 'nms/'

  markdownlint:
    name: markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: markdownlint
        uses: reviewdog/action-markdownlint@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          filter_mode: added
          reporter: github-pr-review
          fail_on_error: false
          markdownlint_flags: "--config ./docs/readmes/.markdownlint.yaml ."

  misspell:
    name: misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: misspell
        uses: reviewdog/action-misspell@811b1e15f531430be3a5784e3d591bd657df18b0 # pin@v1
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          locale: "US"
          exclude: |
            ./nms/yarn.lock

  mypy:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_python == 'true' }}
    name: mypy
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: Run mypy with reviewdog
        uses: tsuyoshicho/action-mypy@176f65a2ad781202baffaf870e5715d768d799a8 # pin@v3.9.2
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: shellcheck
        uses: reviewdog/action-shellcheck@66c9a47bf02255b250284a82251cb4cadf5043f5 # pin@v1
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          pattern: "*.sh" # Optional.

  tflint:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_terraform == 'true' }}
    name: tflint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: Run tflint with reviewdog
        uses: reviewdog/action-tflint@86b1913cb664b079cb435014ad64835acf66c639 # pin@v1.16.2
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          fail_on_error: true
          level: info

  wemake-python-styleguide:
    needs: files_changed
    if: ${{ needs.files_changed.outputs.changed_python == 'true' }}
    name: wemake-python-styleguide
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: wemake-python-styleguide
        uses: wemake-services/wemake-python-styleguide@b8260e79fcbc2feeae2dd4aae2b59ed86aafbf9d # pin@0.15.2
        with:
          reporter: github-pr-review
          path: ${{ steps.py-changes.outputs.py }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}

  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - name: yamllint
        uses: reviewdog/action-yamllint@8c429dfe4fc47b1ce1fa99a64e94693880d5dc30 # pin@v1
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          level: warning
          yamllint_flags: "-d .github/workflows/config/yamllint_config.yml ."
