---
swagger: '2.0'
magma-gen-meta:
  go-package: magma/orc8r/cloud/go/services/eventd/swagger
  dependencies:
    - 'orc8r/cloud/go/models/swagger-common.yml'
  temp-gen-filename: eventd-swagger.yml
  output-dir: orc8r/cloud/go/services/eventd/obsidian

info:
  title: Events definitions and paths
  description: Magma REST APIs
  version: 1.0.0

basePath: /magma/v1

paths:
  /events/{network_id}/{stream_name}:
    get:
      summary: Query events logged by services
      tags:
        - Events
      parameters:
        - $ref: './orc8r-swagger-common.yml#/parameters/network_id'
        - name: stream_name
          in: path
          description: The user-specified string to categorize events
          required: true
          type: string
          minLength: 1
        - name: event_type
          in: query
          description: The type of event to filter the query with.
          required: false
          type: string
        - name: hardware_id
          in: query
          description: The hardware ID to filter the query with.
          required: false
          type: string
        - name: tag
          in: query
          description: The event tag to filter the query with.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              - $ref: '#/definitions/event'
        default:
          $ref: './orc8r-swagger-common.yml#/responses/UnexpectedError'

definitions:
  event:
    type: object
    required:
      - stream_name
      - event_type
      - hardware_id
      - tag
      - timestamp
      - value
    properties:
      stream_name:
        example: fake_stream
        minLength: 1
        type: string
      event_type:
        example: fake_event
        minLength: 1
        type: string
      hardware_id:
        minLength: 1
        type: string
      tag:
        minLength: 1
        type: string
      timestamp:
        example: 2020-03-11T00:36:59.650093129+00:00
        description: The timestamp in ISO 8601 format
        minLength: 1
        type: string
      value:
        type: object
